.gray {
    background-color: #edeaf5 !important;
}

.hero {
    background-color: #f0ece4 !important;
}

.navcl {
    background-color: #68bcf4 !important;
}

.gr {
    background-color: #e8e4fc !important;
}